aiofiles==23.2.1
dash==2.9.3
dash_core_components==2.0.0
dash_html_components==2.0.0
Django==4.2.6
django_eventstream==4.5.1
django_plotly_dash==2.2.2
matplotlib==3.5.3
numpy==1.23.5
pandas==1.4.4
plotly==5.11.0
scipy==1.11.4
setuptools==63.2.0
